<html>
    {% set title = "Все решения" %}
    {% include "header.html" %}
    <body>
        <script type="text/javascript">
            function apply_filter() {
                var selector = '';
                if (subs_filter['result'])
                    selector += '[data-result=' + subs_filter['result'] + ']';
                if (subs_filter['prob'])
                    selector += '[data-prob=' + subs_filter['prob'] + ']';
                if (subs_filter['team'])
                    selector += '[data-team=' + subs_filter['team'] + ']';

                $('tr').show();
                if (selector) {
                    $('tr:not(' + selector + ')').hide();
                    $('#header').show();
                }
            }

            $(function() {
                subs_filter = {};

                $("select[name=result]").change(function() {
                    subs_filter['result'] = this.value == 'ALL' ? '' : this.value;
                    apply_filter();
                });
                $("input[name=prob]").change(function() {
                    subs_filter['prob'] = this.value;
                    apply_filter();
                });
                $("input[name=team]").change(function() {
                    subs_filter['team'] = this.value;
                    apply_filter();
                });
            });
        </script>
        {% include "menu.html" %}
        <p>
        <select name="result">
            <option value="ALL">Все</option>
            <option value="OK">Accepted</option>
            <option value="CE">Compilation Error</option>
            <option value="WA">Wrong Answer</option>
            <option value="TL">Time Limit</option>
            <option value="RT">Runtime Error</option>
            <option value="JE">Jury Error</option>
        </select>
        <input type="text" name="prob" placeholder="Задача" />
        {% if request.args.get('all', 0) %}<input type="text" name="team" placeholder="Участник" />{% endif %}
        </p>
        <p>
        <table border="1" align="left" cellpadding="2" cellspacing="3">
        <tr id="header">
            <th>ID</th>
            <th>Задача</th>
            <th>Попытка</th>
            <th>Время</th>
            <th>Компилятор</th>
            <th>Результат</th>
            <th>Тест</th>
            {% if tl %}<th>Макс. время</th>{% endif -%}
            {% if ml %}<th>Макс. память</th>{% endif -%}
            <th>Код</th>
            {% if team %}<th>Комментарий</th>{% else %}<th>CE Cause</th>{% endif -%}
            {% if feed %}<th>Feedback</th>{% endif -%}
            {% if token %}<th>Use Token</th>{% endif -%}
            {% if score %}<th>Score</th>{% endif -%}
            {% if team %}<th>Team</th>{% endif %}
        </tr>
        {% for sub in submissions %}
        {%- if sub['Result'] == 'OK' -%}
        {% set class = "fok" %}
        {%- elif sub['Result'] in ('WA', 'PE', 'CE', 'RE', 'RT', 'SV') -%}
        {%- set class = "fwa" %}
        {%- elif sub['Result'] in ('TL', 'ML') -%}
        {%- set class = "fle" %}
        {%- elif sub['Result'] == 'PC' -%}
        {%- set class = "fpc" %}
        {%- elif sub['Result'] in ('JE', 'FT') -%}
        {%- set class = "fje" %}
        {% endif -%}
        <tr class="{{ class }}" data-result="{{ sub['Result'] }}" data-prob="{{ sub['Problem'] }}" data-team="{{ sub['Team'][:2] }}">
            <td>{{ sub['ID'] }}</td>
            <td>{{ sub['Problem'] }}</td>
            <td>{{ sub['Attempt'] }}</td>
            <td>{{ sub['Time'] }}</td>
            <td>{{ sub['Compiler'] }}</td>
            <td>{{ sub['Result'] }}</td>
            <td>{{ sub['Test'] }}</td>
            {% if tl %}<td>{{ sub['TL']|d('&nbsp;') }}</td>{% endif %}
            {% if ml %}<td>{{ sub['ML']|d('&nbsp;') }}</td>{% endif %}
            <td><a target="_blank" href="{{ request.script_root }}/allsubmits/view/{{ sub['ID'] }}">Открыть</a></td>
            <td>
                <pre>{{ sub['CE']}}</pre>
            </td>
            {% if feed %}<td>{% if sub['Feedback'] %}<a href="{{ request.script_root }}/allsubmits/feedback/{{ sub['ID'] }}">Открыть</a>{% else %}&nbsp;{% endif %}</td>{% endif %}
            {% if score %}<td>{{ sub['Score']|d('&nbsp;') }}</td>{% endif -%}
            {% if team %}<td>{{ sub['Team']|d('&nbsp;') }}</td>{% endif -%}
        </tr>
        {%- endfor %}
        </table>
        </p>
    </body>
</html>
