<html>
    {% set title = _('List of contests') %}
    {% include "header.html" %}
    <body>
        <div class="container-fluid">
            {% include "menu.html" %}
            <h4 class="span12">{{ title }}</h4>
            <div class="row-fluid">
            <table class="table table-condensed span12">
                <tr class="head">
                    <th>{{ _('Contest ID') }}<br />
                    <small>{{ _('Click to enter') }}</small></th>
                    <th>{{ _('Contest Name') }}<br />
                    <small>{{ _('Click to read statements') }}</small></td>
                    <th>{{ _('State') }}</th>
                    <th>{{ _('Started at') }}</th>
                    <th>{{ _('Teams count') }}</th>
            </tr>
            {%- for contest in contests %}
            <tr>
                <td><a href="{{ url_for('changecontest', id=contest['id']) }}">{{ contest['id'] }}</a></td>
                <td><a href="{{ contest['statements'] }}">{{ contest['name'] }}</a></td>
                <td>{{ contest['state'] }}</td>
                <td>{{ contest['startedat'] }}</td>
                <td>{{ contest['teams'] }}</td>
            </tr>
            {%- endfor %}
            </table>
            </div>
        </div>
    </body>
</html>

{# vim: ft=htmldjango
#}
