<html>
{% set title = _('Error') %}
{% include "header.html" %}
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="alert alert-block alert-error span12">
                <h4>{{ _('Error') }}</h4>
                <span class="errm">{{ text }}</span><br /><br />
            </div>
        </div>
        <div class="row-fluid">
            <a href="{{ url_for('index') }}" class="span12">{{ _('Main page') }}</a>
        </div>
    </div>
</body>
</html>

<!-- vim: ft=htmldjango
--!>
