<head>
    <title>{{ title }}</title>
    {% if reload %}
    <meta http-equiv="refresh" content="{{ reload }}"/>
    {% endif %}
    <link href="{{ url_for('static', filename='tsweb.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css">
    {% if extcss %}
    <link href="{{ url_for('static', filename=extcss) }}" rel="stylesheet" type="text/css">
    {% endif %}
    {% if internet %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% else %}
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("[rel='tooltip']").tooltip();
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
