<html>
{% set title = _('TestSys on the Web') %}
{% include "header.html" %}
<body class="main">
    <div class="container-fluid">
    <div class="row-fluid">
        <h1 class="span12">Testsys/Web Login</h1>
    </div>
    <div class="row-fluid">
    {% if error %}<span class="err">{{ error }}</span>{% endif %}
        <p class="span12">{{ _('You are currently not logged in.') }}</p>
    </div>
    <div class="row-fluid">
        <form action="{{ url_for('login') }}" method="post" class="form-horizontal span12">
            <div class="control-group">
                <label class="control-label" for="team">{{ _('Team') }}</label>
                <div class="controls">
                    <input id="team" name="team" type="text" {% if request.form.team %}value="{{request.form.team}}"{% endif %} />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">{{ _('Password') }}</label>
                <div class="controls">
                    <input id="password" name="password" type="password" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">{{ _('Login')}}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <a href="{{ url_for('logout', purge=1) }}" class="span12">{{ _('Remove all cookies') }}</a>
    </div>
    </div>
</body>
</html>

<!-- vim: ft=htmldjango
--!>
