<html>
{% set title = "Вход в тестирующую систему" %}
{% include "header.html" %}
<body class="main">
    <h1>Testsys/Web Login</h1>
    {% if error %}<span class="err">{{ error }}</span>{% endif %}<br />
    Спросите у преподавателя логин и пароль и войдите в систему.<br />
    <form action="{{ request.script_root }}/login" method="post" class="frm">
    <table>
    <tr>
        <td>Логин: <input name="team" size="8" {% if request.form.team %}value="{{request.form.team}}"{% endif %} > Пароль: </td>
        <td><input name="password" type="password" size="16">
        <input name="op" type="submit" class="submb" value="Войти"></td>
    </tr>
    <tr>
        <td>ID тренировки (можно не вводить):</td>
        <td><input name="contestid" size="16" {% if request.form.contestid %}value="{{request.form.contestid}}{% endif %}"></td>
    </tr>
    </table>
    </form>
    <a href="{{ request.script_root }}/logout">Очистить cookies</a>
</body>
</html>
