<html>
    {% if not title %}{% set title = "TestSys on the Web" %}{% endif %}
    {% set index = True %}
    {% include "header.html" %}
    <body>
    {% include "menu.html" %}
    Вы: <b>{{ session.team }} - {{ session.team_name }}</b>.&nbsp;&nbsp;<a href="{{ request.script_root }}/logout">Выйти</a><br />
    <hr />
    {% if error %}
        <span class="err">{{ error }}</span>
    {% else %}
        {% if messages %}
        <b>Сообщения:
        {% else %}
        <b>Нет сообщений.
        {% endif %}
        {% if wtc %}<span class="wtp"><a href="{{ request.script_root }}/getnewmsg">{{wtc}} непрочитанн{% if wtc > 1 %}ых{% else %}ое{% endif %}</a>.</span>{% endif %}</b>
        {% for message in messages %}
           <br /> {{ message }}
        {% endfor %}
        <hr />
        Версия TestSys: {{ version }}<br />
        Вы решаете: {{ contid }} {{ contname}}<br />
        Тренировка началась {{ contest_start }}, длительность {{ contest_duration }} минут, время на тестирующем сервере {{ server_now }}</br>

        <h4><a target="_blank" href="http://dist.lokos.net:8900/webct/public/home.pl">Сервер дистанционного обучения http://dist.lokos.net:8900</a></h4>
        <hr />
    {% endif %}
    </body>
</html>