<!doctype html>
<html>
    {% if not title %}{% set title = _('TestSys on the Web') %}{% endif %}
    {% set index = True %}
    {% include "header.html" %}
    <body>
    <div class="container-fluid">
    {% include "menu.html" %}
    <div class="row-fluid">
        <p class="span12">{{ _('You are logged as %(team)s - %(name)s', team=session.team, name=session.team_name) }}&nbsp;&nbsp;
        <a class="btn" href="{{ url_for('logout') }}">{{ _('Log out') }}</a></p>
    </div>
    {% if error %}
        <div class="row-fluid">
            <div class="alert alert-block alert-error span12">
                <p>{{ error }}</p>
            </div>
        </div>
    {% else %}
        <div class="row-fluid">
        <div class="span12">
        {% if messages %}
            <h4>{{ _('Messages:') }}</h4>
            <ul>
            {% for message in messages -%}
                {%- if message -%}<li>{{ message }}</li>{%- endif -%}
            {%- endfor -%}
            </ul>
            {%- if wtc -%}
            <div class="alert alert-info">
               <strong><a href="{{ url_for('getnewmsg') }}">{{ ngettext('%(num)s new message pending', '%(num)s new messages pending', wtc) }} </a></strong>
            </div>
            {%- endif -%}
        {% else %}
            <h4>{{ _('No messages') }}</h4>
        {% endif %}
        </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="span12">
                <p>{{ _('TestSys version: <strong>%(version)s</strong>', version=version) }}</p>
                <p>{{ _('Assigned contest: <strong>%(contid)s %(contname)s</strong>', contid=contid, contname=contname) }}</p>
                <p>{{ _('Contest starts at <strong>%(contest_start)s</strong> and lasts <strong>%(contest_duration)s</strong> minutes, current TestSys time is <strong>%(server_now)s</strong>', contest_start=contest_start, contest_duration=contest_duration, server_now=server_now) }}</p>
                <p><a target="_blank" href="http://dist.lokos.net:8900/webct/public/home.pl">Сервер дистанционного обучения http://dist.lokos.net:8900</a></p>
                <form class="form-inline" action="{{ url_for('set_language') }}">
                    <label for="lang" class="control-label">{{ _('Language:') }}</label>
                    <select id="lang" name="lang">
                        {% for lang, name in config.LANGUAGES.items() %}
                        <option value="{{ lang }}" {% if lang == session.get('lang', 'en') %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn" type="submit">{{ _('Save') }}</button>
                </form>
            </div>
        </div>
    {% endif %}
    </div>
    </body>
</html>
