<!-- menu.html -->
<div class="navbar">
    <div class="navbar-inner">
{%- if not index|d(False) -%}
        <a class="brand" href="{{ url_for('index') }}">{{ _('Main page') }}</a>
{%- endif -%}
        <ul class="nav">
            <li><a href="{{ url_for('submit') }}">{{ _('Submit') }}</a></li>
            <li><a href="{{ url_for('monitor_page') }}">{{ _('Monitor') }}</a></li>
            <li><a href="{{ url_for('clars') }}">{{ _('Clarifications') }}</a></li>
            <li><a href="{{ url_for('submits') }}">{{ _('Submissions') }}</a></li>
            {%- if statements %}<li><a href="{{ statements }}">{{ _('Statements') }}</a></li>{% endif -%}
            {%- if printsol %}<li><a href="#">{{ _('Print solution') }}</a></li>{% endif -%}
            {%- if contlist_mask %}<li><a href="{{ url_for('contests', mask=contlist_mask) }}">{{ _('All contests') }}</a></li>{% endif -%}
           <!-- {%- if jury %}<li><a href="{{ url_for('submits', all='1') }}">{{ _('All submissions') }}</a></li>{% endif -%} -->
            <li><a href="{{ url_for('logout') }}">{{ _('Log out') }}</a></li>
        </ul>
    </div>
</div>
