<a href="{{ request.script_root }}/submit">Submit</a>&nbsp;&nbsp;
<a href="{{ request.script_root }}/monitor">Monitor</a>&nbsp;&nbsp;
<a href="{{ request.script_root }}/clars">Clarifications</a>&nbsp;&nbsp;
<a href="{{ request.script_root }}/allsubmits">Submissions</a>
{% if statements %}&nbsp;&nbsp;<a href="{{ statements }}">Statements</a>{% endif %}
{% if printsol %}&nbsp;&nbsp;<a href="{{ request.script_root }}/printsol">Print solution</a>{% endif %}
{% if contlist_mask %}&nbsp;&nbsp;<a href="{{ request.script_root }}/contests?mask={{contlist_mask}}">List of all contests</a>{% endif %}
<!--{% if jury %}&nbsp;&nbsp;<a href="{{ request.script_root }}/allsubmits?all=1">All submissions</a>{% endif %} -->

<!-- vim: ft=htmldjango
--!>
