<html>
    {% set title = "Contest Monitor" %}
    {% set extcss = "monitor.css" %}
    {% include "header.html" %}
    <body class="monit">
    {% if error %}
    <span class="errm">{{ error }}
    {% else %}
        {% if pre %}
        <pre>
        {{ pre }}
        </pre>
        {% else %}
        <h1>{{ contest }}</h1>
        Started at: <b>{{ startat }}</b><br />
        Duration: <b>{{ '%d:%02d' % (contlen/60, contlen%60) }}</b><br />
        State: <b>{{ state }} {{ '%.0f' % (now/60) }}/{{ contlen }}</b><br />
        Last success: {{ last_success.htime }}, team <b>{{ last_success.team }}</b> &mdash; <b>{{ last_success.team_name }}</b>, problem <b>{{ last_success.problem }}</b><br />
        Last submission: {{ last_submission.htime }}, team <b>{{ last_submission.team }}</b> &mdash; <b>{{ last_submission.team_name }}</b>, problem <b>{{ last_submission.problem }}</b><br />
        <a href="{{ request.script_root }}/index">Back to main page</a>
        <table border="1" cellpadding="4" class="mtab">
        <tr class="head">
            <th>ID</th>
            <th>Team</th>
            {%- for problem in problem_list %}
            <th width="35">{{ problem }}</th>
            {%- endfor %}
            <th width="25">=</th>
            <th>Time</th>
            <th>Rank</th>
        </tr>
        {%- for rank, list in teams_list|groupby(6) -%}
        {% set class = loop.cycle('even', 'odd') %}
        {%- for team, mclass, set, name, solved, score, rank in list %}
        <tr class="{{ class }}">
            <td {% if m_for|d('') == team %}class="for"{% endif %}>{{ team }}</td>
            <td {% if m_for|d('') == team %}class="for"{% endif %}>{{ name }}</td>
            {% for attempts, score, time, res, test in results[team] -%}
            {%- set succ = False -%}
            {%- set out_time = True -%}
            <td {% if res == 'OK' %}class="ok" {%- set succ = True -%}{% elif attempts %}class="wa"{% else %}class="no"{% endif %}>
                {%- if attempts < 0 %}
                {{ attempts }}
                {%- elif attempts-1 > 0 and succ -%}
                +{{ attempts-1 }}
                {%- elif succ -%}
                +
                {%- else -%}
                .
                {%- set out_time = False -%}
                {%- endif -%}
                {% if out_time %}<br />{{ '%d:%02d' % (time/3600, (time/60) % 60) -}}{% endif %}
            </td>
            {% endfor -%}
            <td class="solv">{{ solved }}</td>
            <td class="pen">{{ score // 60 }}</td>
            <td class="rk">{{ rank }}</td>
        {%- endfor %}
        {%- if loop.last -%}
        {% if class == 'even' %}{% set class = 'odd' %}{% else %}{% set class = 'even' %}{% endif %}
            <tr class="{{ class }}">
            <td>&nbsp;</td>
            <td class="no">Submits</td>
            {%- for problem in problem_list|sort -%}
            <td class="no">{% if accepts[problem]+rejects[problem] %}{{ accepts[problem]+rejects[problem] }}{% endif %}</td>
            {%- endfor -%}
            <td class="no">{{ total_accepts+total_rejects }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr class="{{ class }}">
            <td>&nbsp;</td>
            <td class="ok">Accepted</td>
            {%- for problem in problem_list|sort -%}
            <td class="ok">{% if accepts[problem] %}{{ accepts[problem] }}{% endif %}</td>
            {%- endfor -%}
            <td class="ok">{{ total_accepts }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr class="{{ class }}">
            <td>&nbsp;</td>
            <td class="wa">Rejected</td>
            {%- for problem in problem_list|sort -%}
            <td class="wa">{% if rejects[problem] %}{{ rejects[problem] }}{% endif %}</td>
            {%- endfor -%}
            <td class="wa">{{ total_rejects }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
        {% endif -%}
        {%- endfor %}
        </table>
        <a href="{{ request.script_root }}/index">Back to main page</a>
        {% endif %}
    {% endif %}
    </body>
</html>

<!-- vim:ft=htmldjango
--!>
