<html>
    {% set title = "Рейтинг" %}
    {% set extcss = "monitor.css" %}
    {% include "header.html" %}
    <body class="monit">

    {% include "menu.html" %}

    {% if error %}
    <span class="errm">{{ error }}
    {% else %}
        {% if pre %}
        <pre>
        {{ pre }}
        </pre>
        {% else %}
        <h1>{{ contest }}</h1>
        Начало: <b>{{ startat }}</b> &nbsp; &nbsp; &nbsp;
        Длительность: <b>{{ '%d:%02d' % (contlen/60, contlen%60) }}</b><br />
        Состояние: <b>{{ state }} {{ '%.0f' % (now/60) }}/{{ contlen }}</b><br />
        Последний успех: {{ last_success.htime }}, <b>{{ last_success.team }}</b> &mdash; <b>{{ last_success.team_name }}</b>, задача <b>{{ last_success.problem }}</b><br />
        Последняя отправка: {{ last_submission.htime }}, <b>{{ last_submission.team }}</b> &mdash; <b>{{ last_submission.team_name }}</b>, задача <b>{{ last_submission.problem }}</b><br />

        <table border="1" cellpadding="4" class="mtab">
        <tr class="head">
            <th>ID</th>
            <th>Участники</th>
            {%- for problem in problem_list %}
            <th width="35">{{ problem }}</th>
            {%- endfor %}
            <th width="25">=</th>
            <th>Время</th>
            <th>Рейтинг</th>
        </tr>
        {%- for rank, list in teams_list|groupby(4)|reverse -%}
        {% set class = loop.cycle('even', 'odd') %}
        {%- for team, mclass, set, name, solved, score, rank in list %}
        <tr class="{{ class }}">
            <td {% if m_for|d('') == team %}class="for"{% endif %}>{{ team }}</td>
            <td {% if m_for|d('') == team %}class="for"{% endif %}>{{ name }} </td>
            {% for attempts, score, time, res, test in results[team] -%}
            {%- set succ = False -%}
            {%- set out_time = True -%}
            <td {% if res == 'OK' %}class="ok" {%- set succ = True -%}{% elif attempts %}class="wa"{% else %}class="no"{% endif %}>
                {%- if attempts < 0 %}
                {{ attempts }}
                {%- elif attempts-1 > 0 and succ -%}
                +{{ attempts-1 }}
                {%- elif succ -%}
                +
                {%- else -%}
                .
                {%- set out_time = False -%}
                {%- endif -%}
                {% if out_time %}<br />{{ '%d:%02d' % (time/3600, (time/60) % 60) -}}{% endif %}
            </td>
            {% endfor -%}
            <td class="solv">{{ solved }}</td>
            <td class="pen">{{ score // 60 }}</td>
            <td class="rk">{{ rank }}</td>
        {%- endfor %}
        {%- if loop.last -%}
        {% if class == 'even' %}{% set class = 'odd' %}{% else %}{% set class = 'even' %}{% endif %}
            <tr class="{{ class }}">
            <td>&nbsp;</td>
            <td class="no">Отправлено решений</td>
            {%- for problem in problem_list|sort -%}
            <td class="no">{% if accepts[problem]+rejects[problem] %}{{ accepts[problem]+rejects[problem] }}{% else %}&nbsp;{% endif %}</td>
            {%- endfor -%}
            <td class="no">{{ total_accepts+total_rejects }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr class="{{ class }}">
            <td>&nbsp;</td>
            <td class="ok">Принято - accepted</td>
            {%- for problem in problem_list|sort -%}
            <td class="ok">{% if accepts[problem] %}{{ accepts[problem] }}<br>
              {{ "%0.0lf" % ((accepts[problem]*100.0) / (accepts[problem]+rejects[problem])) }}%                  
            {% else %} &nbsp;{% endif %}</td>
            {%- endfor -%}
            <td class="ok">{{ total_accepts }}<br>
            {{ "%0.0lf" % ((total_accepts*100.0) / (total_accepts+total_rejects)) }}%</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr class="{{ class }}">
            <td>&nbsp;</td>
            <td class="wa">Отклонено - rejected</td>
            {%- for problem in problem_list|sort -%}
            <td class="wa">{% if rejects[problem] %}{{ rejects[problem] }}<br>
              {{ "%0.0lf" % ((rejects[problem]*100.0) / (accepts[problem]+rejects[problem])) }}%                  
            {% else %}&nbsp; 
            {% endif %}</td>
            {%- endfor -%}
            <td class="wa">{{ total_rejects }}<br>
            {{ "%0.0lf" % ((total_rejects*100.0) / (total_accepts+total_rejects)) }}%</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
        {% endif -%}
        {%- endfor %}
        </table>
        {% endif %}
    {% endif %}

    </body>

    <h3>Список группы:</h3>
    <ol>
    {%- for rank, list in teams_list|groupby(4)|reverse -%}
    {% set active = False %}
    {%- for team, mclass, set, name, solved, score, rank in list -%}

    {%- set active = False -%}
    {%- for attempts, score, time, res, test in results[team] -%}
    {%- if res!='' -%}
    {%- set active = True -%}
    {%- endif -%}
    {%- endfor %}
    {% if solved > 0%}
    <li>{{ name|safe }}</li>
    {% endif %}
    {%- endfor %}
    {%- endfor %}
    </ol>
</html>

<!-- vim:ft=htmldjango
--!>
