<html>
    {% set title = _('Submit status') %}
    {% include "header.html" %}
    <body>
        <div class="container-fluid">
        {% include "menu.html" %}
        <div class="row">
        {% if error %}
        <p class="span12">{{ _('Your solution has been submitted. However, no response has been received from Testsys.') }}</p>
        {% else %}
        <p class="span12">{{ _('Your submission has been acknowledged! Good luck!') }}</p>
        {% endif %}
        </div>
    </body>
<html>

<!-- vim: ft=htmldjango
--!>
