<html>
    {% set title = "Статус отправки" %}
    {% include "header.html" %}
    <body>
        {% include "menu.html" %}
        {% if error %}
        Ваше решение было отправлено на проверку, однако ответ от TestSys не был получен.<br />
        {% else %}
        Ваше решение отправлено на проверку! Удачи!<br />
        {% endif %}
        <hr />
        <a href="{{ request.script_root }}/submit">Отправить заново</a>&nbsp;&nbsp;<a href="{{ request.script_root }}/index">На главную</a>
    </body>
<html>