<html>
    {% set title = "Testsys submit" %}
    {% include "header.html" %}
    <body>
    <form action="{{ request.script_root }}/submit" enctype="multipart/form-data" method="post" class="frm"> 
    <table align="center" cellpadding="2" cellspacing="3">
        <tr class="od">
            <td>Problem:<br/><i>Choose here the problem id</i></td>
            <td>
                <select name="prob">
                {% for problem in problems|sort %}
                    <option value="{{ problem }}">{{ problem }}{% if problems[problem] %}: {{ problems[problem] }}{% endif %}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr class="ev">
            <td>Language:<br /><i>Choose one of the compilers</i></td>
            <td>
                <select name="lang">
                {% set i = 0 %}
                {% for compiler in compilers %}
                	{% set i = i + 1 %}
                    <option value="{{ i }}">{{ compiler[0] }}{% if compiler[1] %}: {{ compiler[1] }}{% endif %}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr class="od">
            <td>Solution:<br /><i>Attach here your solution</i></td>
            <td>
                <input class="sm" size="32" type="file" name="file"</input>
            </td>
        </tr>
        <tr class="ev">
            <td>Solution text:<br /><i>... or paste it here</i></td>
            <td><textarea name="solution" cols="80" rows="25" wrap="virtual"></textarea></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input class="submb" type="submit" value="Submit">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{{ url_for('index') }}">Back to main page</a>
            </td>
        </tr>
    </table>
    </body>
</html>

<!-- vim: ft=htmldjango
--!>
