.rok    { color: Green }
.rwa    { color: Red }
.rft    { color: Orange; font-weight: bold }
.gremph { color: Green; font-style: italic }
.green  { color: Green; }
TR.head { background-color: #EEE }
TR.for TD { background-color: #FDD }
TD.for { font-weight: bold; color: Red }
TR.odd { background-color: #FFB }
TR.even { background-color: #DEF }
TD.ok { text-align: center; color: #0A0; width:45px; }
TD.wa { text-align: center; color: #F00 }
TD.no { text-align: center; color: #000; font-weight: bold }
TD.solv { text-align: center }
TD.pen { text-align: center }
TD.rk { text-align: center }
TH.problem-title { text-align: center }
TH.problem-solved, .table-hover tbody TR:hover > TH.problem-solved { background-color: #A4F4B4 }
TD.first-accept, .table-hover tbody TR:hover > TD.first-accept { color: #000; background-color: #BF8 }
