TR.fok { background-color: #80ff80; }
TR.fwa { background-color: #ff8080; }
TR.fle { background-color: #ffa0ff; }
TR.fpc { background-color: #ffff80; }
TR.fje { background-color: #000000; color: #ff0000; }
TR.fno { background-color: #808080; }
